.heading {
    text-align: center;
    font-size: 1.5rem;
    width: fit-content;
    max-width: 80vw;

}

@media (width<960px) {
    .heading {
        font-size: 1.2rem;
        font: 400;
    }
}

@media (width<640px) {
    .heading {
        font-size: 1rem;
    }
}

@media (width<400px) {
    .heading{
        font-size: 12px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem;

}

.img {
    width: clamp(300px, 80vw, 1000px);
    object-fit: contain;
}