services:

   #client is the service name and lushiro_client is the container name and we can acces the frontend using it domain name inside the compose project that is throught the internally established DNS system of that docker compose project
  client: 
    build: ./client
    container_name: lushiro_client
    ports:
      - "3000:3000"
    depends_on:
      - server
  
  server:
    build: ./server
    container_name: lushiro_server
    ports:
      - "1823:1823"
    environment:
      - MONGO_URI=mongodb://db:27017/lushiro
      - CLIENT_URL=http://localhost:3000
    env_file:
      - ./server/.env
    depends_on:
      - db
  
  db:
    image: mongo:latest
    container_name: lushiro_db
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    
    
volumes:
  mongo_data: