.loadingPageWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 9999999;

}

.main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.lushiroLogo {
    width: 150px;
}

.footer {
    padding: 1.5rem;

    p:first-child {
        color: grey;
        text-align: center;
        margin-bottom: .5rem;
    }
}

.shubham {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    text-align: center;
}
