.mainLayoutWrapper {
    height: 100%;
}

.main {
    width: calc(100% - 220px - 1.6rem);
    margin-left: auto;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar{
        display: none;
    }

    >* {
        padding-top: 1.5rem;
        margin: auto;
        max-width: 990px;
    }
}

.smallChildrenWidth>*:first-child {
    max-width: 935px;
}



@media(width>1920px) {
    .main {
        width: calc(100% - 314px);
    }
}

@media (width<1290px) {
    .main {
        width: calc(100% - 80px);

        >* {
            max-width: 700px;
        }
    }
}


@media (width<=768px) {
    .main {
        width: 100%;
    }

    .mainLayoutWrapper {
       padding: 2.5rem .5rem 2.5rem .5rem;
    }
}