.footer {
    font-size: 12px;
    color: var(--clr-neutral-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-block: 1.5rem 3.5rem;
}

.footerLinks {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    >li:hover {
        text-decoration: underline;
    }
}

.footerBottomWrapper {
    margin-top: .3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.langSelect {
    background-color: black;
    color: var(--clr-neutral-600);
    width:fit-content;
    font: inherit;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
        border: none;
    }
}

@media (max-width:768px) {
    .footer{
        display: none;
    }
}