.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile {
    display: flex;
    padding-top: 2rem;

}


.avatarArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 4.8rem;
}

.avatarWrapper {
    --dim: 150px;
    width: var(--dim);
    height: var(--dim);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    label {
        position: absolute;
        color: red;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        cursor: pointer;
    }
}


.profileCamIcon {
    position: absolute;
    background-color: rgba(82, 81, 81, 0.718);
    width: 100%;
    height: 100%;
    padding: 3.3rem;
    pointer-events: none;
}

.avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profileData {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profileDataHeader {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    >span:first-child {
        font-size: 1.2rem;
    }
}

.profileRelatedBtns {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.darkBtnBase {
    background-color: var(--clr-neutral-700);
    border-radius: 10px;
    font-size: .875rem;
    font-weight: 600;
    padding: .5em 1em;
    transition: all .15s linear;

    &:hover {
        background-color: var(--clr-neutral-700-hover);
    }
}

.settings:hover {
    scale: 1.05;
    transition: all .15s ease-in-out;
}


.metricsCount,
.metricsCountMobile {
    display: flex;
    gap: 2.3rem;

    >span {
        display: flex;
        gap: .2rem;

        >span:first-child {
            font-weight: 600;
        }

        >span:last-child {
            color: var(--clr-neutral-600);
        }
    }

}



.fullName {
    font-weight: 600;
    font-size: .875rem;
    padding-block: .5em;
}

.heroBottom {
    flex: 1;
    display: flex;
    align-items: center;

    >div:first-child {
        display: grid;
        gap: .5rem;
        margin-left: 2.5rem;
        place-items: center;
        font-size: 12px;
        font-weight: 600;
    }
}

.metricsCountMobile {
    display: none;
    border-top: .5px solid var(--clr-border-900);
    padding: 1rem;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;

    >span {
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

.createNewStoryWrapper {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3.5px solid var(--clr-border-800);
    padding: 3.5px;
    cursor: pointer;
}

.createNewStory {
    border-radius: 50%;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--clr-neutral-800);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Below Hero */
.mainContent {
    padding-top: 1rem;

}

.mainContentNav {
    border-bottom: .1px solid var(--clr-border-900);

    >div {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 50%;
    }

    .notAdmin {
        width: 30%;
    }
}

.navLink {
    padding: .5rem 1.2rem;
    color: grey;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
}

.selected {
    border-color: white;
    color: white;
}




/* Posts */
.emptyPostsPlaceholder {
    align-self: center;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 1rem;
    height: 420px;

    .camIconContainer {
        padding: .2rem;
        padding-bottom: .3rem;
        min-width: 60px;
        min-height: 60px;
        border: 1.5px solid;
        display: grid;
        place-content: center;
        border-radius: 50%;
    }

    h3 {
        font-weight: 800;
        font-size: 1.8rem;
    }

    p {
        font-size: 14px;
        max-width: 40ch;
        text-align: center;
    }

    button {
        color: var(--clr-primary-600);
        font-size: 14px;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.posts {
    /* align-self: flex-start; */
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: .1rem;
    row-gap: 1rem;

}

.post {
    height: 420px;
    color: black;
    position: relative;
    cursor: pointer;

    img {
        object-position: center center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.post:hover>.postCommentsPreview {
    display: flex;
}

.postCommentsPreview {
    display: none;

    position: absolute;
    background: rgba(0, 0, 0, 0.665);
    inset: 0;

    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: white;
    font-weight: 800;

    >svg {
        fill: white;
    }

}

/* Follow Button */
.followBtn {
    background-color: var(--clr-button-600);

    &:hover {
        background-color: var(--clr-button-900-focused);
    }
}

@media (width<1060px) {
    .post {
        height: auto;
        aspect-ratio: 3/4;
    }


}



@media (max-width:960px) {
    .avatarArea {
        padding-inline: 2rem;
    }
}

@media (max-width:768px) {
    .profileData {
        gap: .8rem;
    }

    .profileDataHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .avatarWrapper {
        --dim: 100px;
    }

    .metricsCount {
        display: none;
    }

    .settings {
        display: none;
    }

    .heroBottom {
        >div:first-child {
            display: none;
        }
    }

    .metricsCountMobile {
        display: flex;
    }

    .mainContentNav {
        border-bottom: .5px solid var(--clr-border-900);

        >div:first-child {
            max-width: 60%;
        }

        .notAdmin {
            width: 40%;
        }
    }

    /* ###DOUBT FIX padding and spacing and all like border also are weird in x direcion on mobile devices , also padding and all are very diff when opened in chrome as compared to google on phone */
    /* .posts {
        padding-inline: .8rem;
    } */


}


@media (max-width:480px) {
    .mainContentNav {

        >div:first-child {
            max-width: 80%;
        }
        .notAdmin{
            width: 50%;
        }

    
    }


    .profile {
        padding-top: .5rem;
    }

    .avatarArea {
        padding-inline: 1rem;
    }

    .avatarWrapper {
        --dim: 80px;
    }

}