.wrapper {
    width: 100vw;
    position: fixed;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-top: .5px solid var(--clr-border-600);
}

.list {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.listItem {
    --dim: 28px;
    width: var(--dim);
    height: var(--dim);
    border-radius: 50%;
    overflow: hidden;

    >a,
    button {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}





@media (width>768px) {
    .wrapper {
        display: none;
    }
}