name: deploy

on:
  push:
    branches:
    - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    #1. Checkout repo (git clone repo)
    - name: Checkout code (fetch latest code)
      uses: actions/checkout@v4

    #2. Login to GHCR using pipe method , stdin is standard input, this shit is for security reason as docker says
    - name: Login to GHCR
      run: |
        echo "${{ secrets.GH_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    #3. Build Server image
    - name: Build Server image
      run: |
        docker build -t ghcr.io/${GITHUB_REPOSITORY,,}-server:${{ github.sha }} \
        -f server/Dockerfile.prod server

    #4. Build Client image, | means continue this command in the next line is the same command 
    - name: Build Client image
      run: |
        docker build -t ghcr.io/${GITHUB_REPOSITORY,,}-client:${{ github.sha }} \
        -f client/Dockerfile.prod client

    #5. Push client and server images to ghcr, the uri itself has everything that is needed to convey where and what to push
    - name: Push server image to ghcr.io
      run: |
        docker push ghcr.io/${GITHUB_REPOSITORY,,}-server:${{ github.sha }}

    - name: Push client image to ghcr.io
      run: |
        docker push ghcr.io/${GITHUB_REPOSITORY,,}-client:${{ github.sha }}

    #6. Update compose.prod.yaml. before copying to ec2 , sed is streamline editor, -i means, s means substitute, | is a delimeter(seperator), we don't use / as names may also have / in them, g means replace all occurrences
    - name: Update compose.prod.yaml with commit SHA
      run: |
        sed -i "s|latest|${{ github.sha }}|g" compose.prod.yaml


    #7. Copy files to EC2
    - name: Copy files to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: |
          compose.prod.yaml
          nginx
          deploy.sh
        target: /opt/myapp

    #8. Run deploy.sh on EC2
    - name: Run deploy.sh on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo chmod +x /opt/myapp/deploy.sh
          sudo /opt/myapp/deploy.sh
